VITE_SUPABASE_URL=https://lnebaennpeglusuhmpxt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxuZWJhZW5ucGVnbHVzdWhtcHh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgxNDIxMDEsImV4cCI6MjA4MzcxODEwMX0.UP2bWnsB9wD99CL5O6rBYX-yBB4_Wem4H3dKwg1prLI
